@model User_Stories_part_4.Models.UserStory
<div class="card mb-5">
    <div class="card-header">
        <p>@Model.CurrentStatus</p>
        <h5 class="card-title">(@Model.Id) @Model.AssignedPerson | @Model.Title</h5>
    </div>
    <div class="card-body">
        <p class="card-text p-2">@Model.Description</p>
    </div>
    <div class="card-footer">
        <a class="btn" type="button" asp-page="/UserStoryDetail" asp-route-id="@Model.Id"><i class="fa fa-info-circle"></i></a>
        <a class="btn" type="button" asp-page="/EditUserStory" asp-route-id="@Model.Id"><i class="fa fa-pencil"></i></a>
        <a class="btn" type="button" asp-page="/DeleteUserStory" asp-route-id="@Model.Id"><i class="fa fa-trash"></i></a>
        <a class="btn" type="button" asp-page="/MoveUserStory" asp-route-id="@Model.Id"><i class="fa fa-arrow-circle-right"></i></a>
    </div>
    <div>
    </div>
</div>